.details {
  padding: 48px 0;

  &__title {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 466;
    font-size: 50px;
    line-height: 110%;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  &__card {
    background: #fff;
    border-radius: 24px;
    padding: 32px;
    width: 260px;
    height: 345px;
    box-shadow: 0 0 0 1px #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 16px;
  }

  &__course-title {
    font-weight: 600;
    font-size: 18px;
  }

  &__course-subtitle {
    font-weight: 400;
    font-size: 15px;
    margin-top: 2px;
  }

  &__info-list {
    list-style: none;
    padding: 0;
    margin: 0 0 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    li {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 15px;
      font-weight: 300;
      img {
        width: 18px;
        height: 18px;
      }
    }
  }

  &__price-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    margin-bottom: 16px;
  }

  &__button {
    background: #3a5dff;
    color: white;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 28px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
  }
}

@media (max-width: 1150px) {
  .details {
    padding: 0 32px;
    &__title {
      font-size: 24px;
      img{
        width: 24px;
        height: 24px;
      }
    }

    &__cards {
      flex-direction: row;
      align-items: center;
      flex-wrap: nowrap;
      overflow-x: scroll;
    }

    &__card {
      width: 100%;
      max-width: 400px;
    }
  }
}
