.course-fit {
  padding: 64px 0;

  &__title {
    font-size: 50px;
    font-weight: 400;
    position: relative;
    img {
      width: 64px;
      height: 64px;
    }
  }

  &__header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 40px;
    .course-fit__icon-mobile{
      display: none;
    }
  }

  &__title {
    font-size: 50px;
    font-weight: 600;
    line-height: 110%;
    word-break: break-word;
    margin: 0;
  }


  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
  }



  &__description {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    margin-bottom: 40px;
    max-width: 450px;
  }

  &__note {
    margin-bottom: 16px;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;

  }

  &__group {
    p {
      font-weight: 600;
      margin: 0;
      margin-top: 8px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        margin-top: 8px;
        position: relative;
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;

        img{
          width: 16px;
          height: 16px;
        }

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  }

  &__left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__button {
    background: #3a5dff;
    color: white;
    font-size: 18px;
    padding: 22px 32px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    max-width: 50%;
  }
}

@media (max-width: 1150px) {
  .course-fit {  
    padding: 64px 32px 0 32px;
    position: relative;
    &__header {
      margin-bottom: 0px;
     .course-fit__icon{
      display: none;
     }
    }  

    .course-fit__icon-mobile{
      display: inline;
    }

    &__title {
      font-size: 24px;
      line-height: 120%;
      font-weight: 400;
      display: inline;
      white-space: normal;
      margin-bottom: 20px;
      img {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-left: 4px;
        vertical-align: middle;
      }
    }

    &__description {
      font-size: 16px;
      line-height: 1.5;
      font-weight: 300;
      margin-bottom: 20px;
      max-width: 450px;
    }

    &__content {
      gap: 0px;
    }


     &__note{
      margin: 5;
     }
    
     &__right {
      padding-bottom: 66px;
    }

    &__button {
      max-width: none;
      width: calc(100% - 64px);
      padding: 16px;
      font-size: 16px;
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translateX(32px);
    }
  }
}
