.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__logo img {
    height: 54px;
  }

  &__links {
    display: flex;
    gap: 32px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__link {
    cursor: pointer;
    font-weight: 300;
    font-size: 14px;
    color: #1B1B1B;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .header__lang {
    display: flex;
    gap: 0.5rem;

    &-item {
      font-size: 14px;
      font-weight: 300;
      color: #404040;
      cursor: pointer;

      &--active {
        font-weight: 400;
        color: #1B1B1B;
      }
    }
  }

  &__login{
    font-size: 14px;
    cursor: pointer;
    border-radius: 17.5px;
    border: none;
    padding: 7px 22px;
    gap: 10px;
    color: #FFFFFF;
    background-color: #3A5DFF;
    font-family: 'Unbounded', sans-serif;

  }
}
