.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__mobile-container {
    display: none;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    .header__logo-mobile img {
      height: 40px;
    }
  }

  &__burger {
    display: flex;
    flex-direction: column;
    gap: 4px;
    background: none;
    border: none;
    cursor: pointer;
    span {
      width: 24px;
      height: 2px;
      background: #000;
      display: block;
    }
  }

  &__profile {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;

    &-icon {
      background-color: #a9baff;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      position: relative;

      &::after {
        content: '';
        width: 8px;
        height: 8px;
        background: #3a5dff;
        border-radius: 50%;
        position: absolute;
        top: 9px;
        left: 50%;
        transform: translateX(-50%);
      }

      &::before {
        content: '';
        width: 16px;
        height: 8px;
        background: #3a5dff;
        border-radius: 8px 8px 0 0;
        position: absolute;
        bottom: 9px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &__logo img {
    height: 54px;
  }

  &__links {
    display: flex;
    gap: 32px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__link {
    cursor: pointer;
    font-weight: 300;
    font-size: 14px;
    color: #1B1B1B;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .header__lang {
    display: flex;
    gap: 0.5rem;

    &-item {
      font-size: 14px;
      font-weight: 300;
      color: #404040;
      cursor: pointer;

      &--active {
        font-weight: 400;
        color: #1B1B1B;
      }
    }
  }

  &__login{
    font-size: 14px;
    cursor: pointer;
    border-radius: 17.5px;
    border: none;
    padding: 7px 22px;
    gap: 10px;
    color: #FFFFFF;
    background-color: #3A5DFF;
    font-family: 'Unbounded', sans-serif;

  }

  @media (max-width: 1150px) {
    .header__mobile{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
    }

    &__logo{
      display: none;
    }

    flex-direction: column;
    align-items: stretch;
    gap: 16px;

    &__links,
    &__actions {
      display: none;
    }

    &__mobile-container {
      display: flex;
      padding: 0px 35px;
    }
  }
}
