.footer {
  background-color: #fff;
  padding: 48px 32px;

  &__container {
    display: flex;
    justify-content: space-between;
    // flex-wrap: wrap;
    // gap: 32px;
    // max-width: 1200px;
    // margin: 0 auto;
  }

  &__column {
    // flex: 1;
    // max-width: 180px;
  }

  &__logo {
    width: 160px;
    margin-bottom: 48px;
  }

  &__heading {
    margin-bottom: 48px;
    margin-top: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;

  }

  &__links {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 8px;
      cursor: pointer;
      font-weight: 300;
      font-size: 16px;
      line-height: 150%;


      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__contact {
    font-size: 16px;
    p{
      margin: 0;
      font-weight: 300;
      font-size: 16px;
      line-height: 150%;
    }
    .contact__item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 8px;
      gap: 100px;
    }
  }
}


@media (max-width: 1150px) {
  .footer {
    padding: 0 32px;
    &__container {
      flex-direction: column;
      align-items: flex-start;
    }

    &__column {
      max-width: 100%;
      width: 100%;  
      text-align: center;
      margin-bottom: 32px;
    }

    &__logo {
      margin-bottom: 32px;
      display: block;
      width: 100%;
      height: auto;
    }

    &__heading {
      font-size: 20px;
      text-align: left;
      margin-bottom: 8px;
    }

    &__links{
      li{
        text-align: left;
      }
    }

    &__contact {
      p{
        margin: 0;
        font-weight: 300;
        font-size: 14px;
        line-height: 150%;
      }
      .contact__item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 8px;
        gap: 25px;
      }
    }
  }
}
