.mentors {
  padding: 64px 0;

  &__header {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__title {
    font-size: 50px;
    font-weight: 600;
    line-height: 1.1;
    color:#1B1B1B;
    margin: 0;
  }

  &__icon {
    width: 48px;
    height: 48px;
    transition: transform 0.3s ease;
    &:hover {
      transform: rotate(15deg);
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
    gap: 32px;
    padding-bottom: 16px;
    scrollbar-width: none;
    overflow: visible;
  }

  &__card {
    border-radius: 24px;
    flex: 0 0 256px;
    scroll-snap-align: start;
    text-align: start;
    transition: all 0.3s ease;

    &:hover {
      transform: translateY(-5px);
    }
  }

  &__image-wrapper {
    position: relative;
    border-radius: 24px;
    overflow: hidden;
    margin-bottom: 8px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.02);
    }

    img.mentors__image {
      width: 100%;
      height: auto;
      object-fit: cover;
      transition: transform 0.3s ease;
    }

    .mentors__badge {
      position: absolute;
      top: 12px;
      right: 12px;
      width: 32;
      height: 32px;
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.02);
      }
    }
  }

  &__card-header{
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 4px;
    color: #1b1b1b;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    .header__title {
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      color: #1b1b1b;
    }
    .mentors__name {
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      color: #1b1b1b;
      margin: 0;
    }

    .mentors__position{
      color: #3a5dff;
      margin-bottom: 8px;
      font-weight: 300;
      font-size: 14px;
      line-height: 150%;
      color: #1b1b1b;
      margin: 0;
    }
    .mentors__social{
      width: 32px;
      height: 32px;
      margin: 0;
    }
  }

  &__desc {
    color: #555;
    font-weight: 300;
    font-size: 11px;
    line-height: 150%;

  }

  &__social {
    width: 20px;
    height: 20px;
    margin-top: 12px;
    transition: all 0.3s ease;
    cursor: pointer;
    opacity: 0.7;

    &:hover {
      opacity: 1;
      transform: scale(1.1);
    }
  }

 &__arrows {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
    gap: 8px;
  }

  &__arrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #3a5dff;
    background: transparent;
    color: #3a5dff;
    font-size: 20px;
    cursor: pointer;

    &--prev {
      transform: scaleX(-1);
      transform: rotate(0deg);
    }
  }
}

@media (max-width: 1150px) {
  .mentors {
    padding: 33px 32px 0px 32px ;
    &__arrows {
          display: none;
        }

    &__title{
      font-size: 24px;
      display: inline-block;
      padding: 32px 0;
    }

    &__list {
      display: flex;
      overflow: auto;
    }

    &__card {
      flex: 0 0 100%;
    }
  }
}
