.mentors {
  padding: 64px 0;

  &__header {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 40px;
  }

  &__title {
    font-size: 50px;
    font-weight: 600;
    line-height: 1.1;
    color:#1B1B1B;
  }

  &__icon {
    width: 48px;
    height: 48px;
    transition: transform 0.3s ease;
    &:hover {
      transform: rotate(15deg);
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
    gap: 32px;
    padding-bottom: 16px;
    scrollbar-width: none;
    overflow: visible;
  }

  &__card {
    border-radius: 24px;
    flex: 0 0 256px;
    scroll-snap-align: start;
    text-align: start;
    transition: all 0.3s ease;

    &:hover {
      transform: translateY(-5px);
    }
  }

  &__image-wrapper {
    position: relative;
    border-radius: 24px;
    overflow: hidden;
    margin-bottom: 8px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.02);
    }

    img.mentors__image {
      width: 100%;
      height: auto;
      object-fit: cover;
      transition: transform 0.3s ease;
    }

    .mentors__badge {
      position: absolute;
      top: 12px;
      right: 12px;
      width: 32;
      height: 32px;
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.02);
      }
    }
  }

  &__name {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 4px;
    color: #1b1b1b;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .mentors__social{
      width: 32px;
      height: 32px;
      margin: 0;
    }
  }

  &__position {
    color: #3a5dff;
    margin-bottom: 8px;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    color: #1b1b1b;
  }

  &__desc {
    color: #555;
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;

  }

  &__social {
    width: 20px;
    height: 20px;
    margin-top: 12px;
    transition: all 0.3s ease;
    cursor: pointer;
    opacity: 0.7;

    &:hover {
      opacity: 1;
      transform: scale(1.1);
    }
  }

  &__arrows {
    display: none;
  }

  &__cta {
    margin: 32px auto 0 auto;
    display: block;
    padding: 14px 36px;
    background: linear-gradient(90deg, #3a5dff 0%, #6c63ff 100%);
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 32px;
    box-shadow: 0 4px 16px rgba(58, 93, 255, 0.10);
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    letter-spacing: 0.5px;
    text-align: center;
    &:hover {
      background: linear-gradient(90deg, #6c63ff 0%, #3a5dff 100%);
      transform: translateY(-2px) scale(1.03);
    }
  }
}
